# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.env
.venv
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE configuration
.idea/
.vscode/

# Secrets - DO NOT COMMIT
env.txt